<!DOCTYPE HTML>
<html>
   <head>
      <title>chat with me </title>  
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>  
      <link rel="stylesheet" href="styles/bundle.css"/>
      <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
      <script src="scripts/bundle.js"></script>
      <script src="./bootstrap/js/bootstrap.min.js"></script>
   </head>
   <body  ng-app="MainApp"> 
      <div ng-controller="ChatController" style="width:420px;height:600px"> 

        <div class="container"  ng-show="login_show_flag"> 
          <form class="form-signin" role="form">
            <div class="form-group">  
              <h2 class="form-signin-heading">Please sign in</h2>
              <input type="input" ng-model="login_user.username" class="form-control" placeholder="No more than four characters" maxlength="4" required autofocus>  
            </div>
            <div class="form-group"> 
              <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()" ng-keypress="login_by_key($event)" >Sign in</button>
            </div>
          </form> 
        </div> 
 
          <div ng-show="main_show_flag" id="chatView"  > 
             <nav class="navbar navbar-inverse" style="margin:0px" role="navigation"> 
                  <span class="navbar-brand" >Chat in chrome</span>
                  <p class="navbar-text navbar-right">
                      <label class="checkbox-inline" ng-click="change_reminder()">
                           &nbsp;<input type="checkbox" ng-model="reminder">notification
                      </label>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
                      <span >{{username}}</span><a href="" ng-click="logout()" class="navbar-link">logout</a>
              　　</p>
             </nav>
             <div style="height:25px">
                  <marquee scrolldelay='2' scrollamount='3'> 
                    <span>{{onlineCount + ' users online，online users list：'}}</span>
                    <span ng-repeat="(key, value)  in onlineUsers">{{value + "; "}}</span>{{online_message}} 
                  </marquee>
             </div>
             <div id="message_show" style="height:463px; overflow:auto; margin:0;"  class="panel panel-default ">
                <div  class="panel-body" >
                  <section ng-repeat="message in messages" ng-switch on="message.content_type"  class="{{message.section_class}}"> 
                     <div ng-if="message.section_type ==1" class="msg-system" ng-bind-html="message.content1"></div> 

                     <span ng-if="message.section_type ==2">{{message.content1}}</span>
                     <div ng-if="message.section_type ==2" ng-switch-default>{{message.content2}}</div> 
                     <div ng-if="message.section_type ==2" ng-switch-when="emotion" ng-bind-html="message.content2"></div>
                     <div ng-if="message.section_type ==2" ng-switch-when="image" style="z-index:9999">
                       <a ng-href="{{message.content2}}"><img ng-src="{{message.content2}}" class="img-responsive" alt=".." width="220px" height="220px"></a>
                     </div> 

                     <div ng-if="message.section_type ==3" ng-switch-default>{{message.content2}}</div>
                     <div ng-if="message.section_type ==3" ng-switch-when="image">
                          <a ng-href="{{message.content2}}"><img ng-src="{{message.content2}}" class="img-responsive" alt=".." width="220px" height="220px"></a>
                     </div>
                     <div ng-if="message.section_type ==3" ng-switch-when="emotion" ng-bind-html="message.content2"></div>
                     <span ng-if="message.section_type ==3" >{{message.content1}}</span>

                  </section>
                </div>

                <div class="emotion-div"  ng-init="emotion_show_flag = false" ng-show="emotion_show_flag">
                <ul id="myTab" class="nav nav-tabs" style="background:#f3f3f3">
                  <li class="active">
                    <a href="#home" data-toggle="tab">
                      字体表情
                    </a>
                  </li>
                  <li><a href="#ios" data-toggle="tab">qq表情</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                  <div class="tab-pane fade in active" id="home">
                    <div  ng-init="emotion_show_flag = false" ng-show="emotion_show_flag">
                      <div ng-repeat="(key, value) in emotions"   class="row-div">
                        <div ng-repeat="emotion in value"  class="icon-emo" ng-click="send_font_emotion(emotion)">
                          <i class="demo-icon icon-emo-happy" ng-bind-html="emotion"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="ios" ng-click="send_qq_emotion($event)">
                       <div class="qq_face" >
                         <a title="微笑" type="qq" class="face qqface0" index="0">微笑</a> 
                         <a title="撇嘴" type="qq" class="face qqface1" index="1">撇嘴</a> 
                         <a title="色" type="qq" class="face qqface2" index="2">色</a> 
                         <a title="发呆" type="qq" class="face qqface3" index="3">发呆</a> 
                         <a title="得意" type="qq" class="face qqface4" index="4">得意</a> 
                         <a title="流泪" type="qq" class="face qqface5" index="5">流泪</a> 
                         <a title="害羞" type="qq" class="face qqface6" index="6">害羞</a> 
                         <a title="闭嘴" type="qq" class="face qqface7" index="7">闭嘴</a> 
                         <a title="睡" type="qq" class="face qqface8" index="8">睡</a> 
                         <a title="大哭" type="qq" class="face qqface9" index="9">大哭</a> 
                         <a title="尴尬" type="qq" class="face qqface10" index="10">尴尬</a> 
                         <a title="发怒" type="qq" class="face qqface11" index="11">发怒</a> 
                         <a title="调皮" type="qq" class="face qqface12" index="12">调皮</a> 
                         <a title="呲牙" type="qq" class="face qqface13" index="13">呲牙</a> 
                         <a title="惊讶" type="qq" class="face qqface14" index="14">惊讶</a> 
                         <a title="难过" type="qq" class="face qqface15" index="15"> 难过</a> 
                         <a title="酷" type="qq" class="face qqface16"  index="16">酷</a> 
                         <a title="冷汗" type="qq" class="face qqface17" index="17">冷汗</a> 
                         <a title="抓狂" type="qq" class="face qqface18" index="18">抓狂</a> 
                         <a title="吐" type="qq" class="face qqface19" index="19">吐</a> 
                         <a title="偷笑" type="qq" class="face qqface20" index="20">偷笑</a> 
                         <a title="愉快" type="qq" class="face qqface21" index="21">愉快</a> 
                         <a title="白眼" type="qq" class="face qqface22" index="22">白眼</a> 
                         <a title="傲慢" type="qq" class="face qqface23" index="23">傲慢</a> 
                         <a title="饥饿" type="qq" class="face qqface24" index="24">饥饿</a> 
                         <a title="困" type="qq" class="face qqface25" index="25">困</a> 
                         <a title="惊恐" type="qq" class="face qqface26" index="26"惊恐</a> 
                         <a title="流汗" type="qq" class="face qqface27" index="27"> 流汗</a> 
                         <a title="憨笑" type="qq" class="face qqface28"index="28">憨笑</a> 
                         <a title="悠闲" type="qq" class="face qqface29"index="29">悠闲</a> 
                         <a title="奋斗" type="qq" class="face qqface30"index="30">奋斗</a> 
                         <a title="咒骂" type="qq" class="face qqface31"index="31">咒骂</a> 
                         <a title="疑问" type="qq" class="face qqface32"index="32">疑问</a> 
                         <a title="嘘" type="qq" class="face qqface33"index="33">嘘</a> 
                         <a title="晕" type="qq" class="face qqface34"index="34">晕</a> 
                         <a title="疯了" type="qq" class="face qqface35"index="35">疯了</a> 
                         <a title="衰" type="qq" class="face qqface36"index="36">衰</a> 
                         <a title="骷髅" type="qq" class="face qqface37"index="37">骷髅</a> 
                         <a title="敲打" type="qq" class="face qqface38"index="38">敲打</a> 
                         <a title="再见" type="qq" class="face qqface39"index="39">再见</a> 
                         <a title="擦汗" type="qq" class="face qqface40"index="40">擦汗</a> 
                         <a title="抠鼻" type="qq" class="face qqface41"index="41">抠鼻</a> 
                         <a title="鼓掌" type="qq" class="face qqface42"index="42">鼓掌</a> 
                         <a title="糗大了" type="qq" class="face qqface43"index="43">糗大了</a> 
                         <a title="坏笑" type="qq" class="face qqface44"index="44">坏笑</a> 
                         <a title="左哼哼" type="qq" class="face qqface45"index="45">左哼哼</a> 
                         <a title="右哼哼" type="qq" class="face qqface46"index="46">右哼哼</a> 
                         <a title="哈欠" type="qq" class="face qqface47"index="47">哈欠</a> 
                         <a title="鄙视" type="qq" class="face qqface48"index="48">鄙视</a> 
                         <a title="委屈" type="qq" class="face qqface49"index="49">委屈</a> 
                         <a title="快哭了" type="qq" class="face qqface50"index="50">快哭了</a> 
                         <a title="阴险" type="qq" class="face qqface51"index="51">阴险</a> 
                         <a title="亲亲" type="qq" class="face qqface52"index="52">亲亲</a> 
                         <a title="吓" type="qq" class="face qqface53"index="53">吓</a> 
                         <a title="可怜" type="qq" class="face qqface54"index="54">可怜</a> 
                         <a title="菜刀" type="qq" class="face qqface55"index="55">菜刀</a> 
                         <a title="西瓜" type="qq" class="face qqface56"index="56">西瓜</a> 
                         <a title="啤酒" type="qq" class="face qqface57"index="57">啤酒</a> 
                         <a title="篮球" type="qq" class="face qqface58"index="58">篮球</a> 
                         <a title="乒乓" type="qq" class="face qqface59"index="59">乒乓</a> 
                         <a title="咖啡" type="qq" class="face qqface60"index="60">咖啡</a> 
                         <a title="饭" type="qq" class="face qqface61"index="61">饭</a> 
                         <a title="猪头" type="qq" class="face qqface62"index="62">猪头</a> 
                         <a title="玫瑰" type="qq" class="face qqface63"index="63">玫瑰</a> 
                         <a title="凋谢" type="qq" class="face qqface64"index="64">凋谢</a> 
                         <a title="嘴唇" type="qq" class="face qqface65"index="65">嘴唇</a> 
                         <a title="爱心" type="qq" class="face qqface66"index="66">爱心</a> 
                         <a title="心碎" type="qq" class="face qqface67"index="67">心碎</a> 
                         <a title="蛋糕" type="qq" class="face qqface68"index="68">蛋糕</a> 
                         <a title="闪电" type="qq" class="face qqface69"index="69">闪电</a> 
                         <a title="炸弹" type="qq" class="face qqface70"index="70">炸弹</a> 
                         <a title="刀" type="qq" class="face qqface71"index="71">刀</a> 
                         <a title="足球" type="qq" class="face qqface72"index="72">足球</a> 
                         <a title="瓢虫" type="qq" class="face qqface73"index="73">瓢虫</a> 
                         <a title="便便" type="qq" class="face qqface74"index="74">便便</a> 
                         <a title="月亮" type="qq" class="face qqface75"index="75">月亮</a> 
                         <a title="太阳" type="qq" class="face qqface76"index="76">太阳</a> 
                         <a title="礼物" type="qq" class="face qqface77"index="77">礼物</a> 
                         <a title="拥抱" type="qq" class="face qqface78"index="78">拥抱</a> 
                         <a title="强" type="qq" class="face qqface79"index="79">强</a> 
                         <a title="弱" type="qq" class="face qqface80"index="80">弱</a> 
                         <a title="握手" type="qq" class="face qqface81"index="81">握手</a> 
                         <a title="胜利" type="qq" class="face qqface82"index="82">胜利</a> 
                         <a title="抱拳" type="qq" class="face qqface83"index="83">抱拳</a> 
                         <a title="勾引" type="qq" class="face qqface84"index="84">勾引</a> 
                         <a title="拳头" type="qq" class="face qqface85"index="85">拳头</a> 
                         <a title="差劲" type="qq" class="face qqface86"index="86">差劲</a> 
                         <a title="爱你" type="qq" class="face qqface87"index="87">爱你</a> 
                         <a title="NO" type="qq" class="face qqface88"index="88">NO</a> 
                         <a title="OK" type="qq" class="face qqface89"index="89">OK</a> 
                         <a title="爱情" type="qq" class="face qqface90"index="90">爱情</a> 
                         <a title="飞吻" type="qq" class="face qqface91"index="91">飞吻</a> 
                         <a title="跳跳" type="qq" class="face qqface92"index="92">跳跳</a> 
                         <a title="发抖" type="qq" class="face qqface93"index="93">发抖</a> 
                         <a title="怄火" type="qq" class="face qqface94"index="94">怄火</a> 
                         <a title="转圈" type="qq" class="face qqface95"index="95">转圈</a> 
                         <a title="磕头" type="qq" class="face qqface96"index="96">磕头</a> 
                         <a title="回头" type="qq" class="face qqface97"index="97">回头</a> 
                         <a title="跳绳" type="qq" class="face qqface98"index="98">跳绳</a> 
                         <a title="投降" type="qq" class="face qqface99"index="99">投降</a> 
                         <a title="激动" type="qq" class="face qqface100"index="100">激动</a> 
                         <a title="乱舞" type="qq" class="face qqface101"index="101">乱舞</a> 
                         <a title="献吻" type="qq" class="face qqface102"index="102">献吻</a> 
                         <a title="左太极" type="qq" class="face qqface103"index="103">左太极</a> 
                         <a title="右太极" type="qq" class="face qqface104"index="104">右太极</a> 
                        </div>
                  </div>
                </div>
                </div>
             </div> 
             <div>
                 <form class="form-inline " style="padding-top: 15px" role="form">
                  <div class="form-group col-xs-2">
                    <button type="button" class="btn btn-default demo-icon" ng-click="emotion_show()">&#xe804;</button>
                  </div>
                  <div class="form-group col-xs-8">
                      <input type="text" id="send_message" autofocus="autofocus" ng-paste="message_paste($event)"  ng-model="send_content" class="form-control" required placeholder="Input Message">
                  </div>
                  
                  <button type="submit"  class="btn btn-primary" ng-click="send()" ng-keypress="send_by_key()">Send</button>
                </form> 
             </div> 
              
            </nav> 
         </div> 
      </div>
   </body> 
</html>
